.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-inner {
    align-self: center;
    width: 700px;
    border: 3px solid black;
    border-radius: 15px;
    margin: 20px;
    background-color: #e0e0e0;
}
.card-template {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.info {
    display: flex;
    align-self: center;
}
.cover {
    width: 300px;
    padding: 10px 5px;
}
.cover img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.about p {
    text-align: start ;
    padding: 10px 15px;
}
.track-list {
    list-style: disc;
}

.track-item {
    text-align: start;
    font-size: 18px;
    padding: 5px 10px;
    color: black;
}


