* {
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: black;
}
.nav-item {
  margin: 15px 0;
  border-bottom: 3px solid whitesmoke;
}
.link {
  padding: 0 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.link.active {
  border-bottom: 3px solid green;
}
h1, h2, h3 {
  text-align: center;
}
footer {
  background-color: black;
  color: white;
}
footer p {
  padding: 10px 0;
}
button {
  margin: 20px 0;
  height: 50px;
  width: 200px;
  align-self: center;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

